{% extends 'base.html' %}
{% block start %}
<style>
    .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }
        
        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-size: 20px;
        }

        .form-control {
            font-size: 16px;
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn {
            font-size: 18px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .form-heading {
            text-align: center;
        }

        .centered-btn {
        text-align: center; 
    }
</style>

<div class="container mt-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="form-heading"> Login </h1>
        {% if messages %}
        <div class="alert alert-primary mt-3" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">username</label>
              <input type="text" class="form-control" name = "username" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="text" class="form-control" name = "password"id="exampleInputPassword1">
            </div>

            <p> Don't have an account? <a href = "/register/"> Register here</a> </p>

        <div class="centered-btn" style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary">Login </button>
        </div>
    </form>

</div>
</div>













{% endblock %}